{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ model['m_name'] }}" {% endblock %}</h1>
<form method="post">
  <label for="title">Title</label>
  <br>
  <input type="text" name="title" placeholder="Model name"
    value="{{ request.form['title'] or model['m_name'] }}"></input>
  <br>

  <label for="content">Post Content</label>
  <br>
  <textarea name="content" placeholder="Model description" rows="15"
    cols="60">{{ request.form['content'] or model['m_description'] }}</textarea>
  <br>

  <label for="version">Version</label>
  <br>
  <input type="text" name="version" placeholder="Model version"
    value="{{ request.form['version'] or model['m_version'] }}"></input>
  <br>
  <button type="submit">Submit</button>
</form>
<hr>
<form action="{{ url_for('delete', id=model['id']) }}" method="POST">
  <input type="submit" value="Delete Model" onclick="return confirm('Are you sure you want to delete this model?')">
</form>
{% endblock %}